<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Mavic Webots">
    <xacro:property name="nspace" value="$(arg nspace)"/>
    <xacro:property name="waypointsFile" value="$(arg waypointsFile)"/>
    <webots>
        <device reference="gps" type="GPS">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial unit</inertialUnitName>
            <gyroName>gyro</gyroName>
        </plugin>

        <plugin type="webots_ros2_mavic.mavic_autonomy.MavicAutonomy">
            <topicName>${nspace}</topicName>
            <waypointsPath>${waypointsFile}</waypointsPath>
        </plugin>
    </webots>
</robot>
